*{
	margin: 0;
	padding: 0;
	font-family: 'Heebo', sans-serif;
}
body{
	background-color: #e1e6f1;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
}
.container h1{
	color: #beb39e;
	padding-top: 30px;
	font-weight: 100;
	font-size: 100px;
	text-align: center;
}
.tasks{
	display: flex;
	justify-content: center;
}
#btn{
	height: 45px;
	width: 5%;
}
#btn img{
	cursor: pointer;
}

#input{
	height: 45px;
	width: 40%;
	outline: none;
	border: solid #beb39e;
	box-shadow: 10px 10px 10px #cacac8;
	padding-left: 15px;
}
#input::placeholder{
	padding-left: 10px;
	letter-spacing: 1px;
	font-size: 18px;
	font-style: italic;
	color: #e1e6f1;
}
.all_items{
	text-align: center;
	color: #beb39e;
	font-size: 18px;
	padding-top: 15px;
}
.task-container{
	margin: auto;
	width: 50%;
}

.li{
	height: 30px;
	margin-top: 10px;
	border-radius:  5px;
	/* border: solid 1px #cfc8ba; */
	list-style-type: none;
	color: #5e4b28;
	font-size: 15px;
	display: flex;
}
.delBtn{
	font-size: 15px;
	background-color: transparent;
	border: none;
	height: 30px;
	width: 15%;
	margin-left: 2%;
	background: #fff;
}
.li__value{
	padding-top: 5px;
	padding-left: 20px;
	background: #fff;
	width: 83%;
}

@media screen and (max-width: 1200px) {
	.container{
		width: 1150px;
	}
}
@media screen and (max-width: 1199px) {
	.container{
		width: 960px;
	}
}
@media screen and (max-width: 991px) {
	.container{
		width: 720px;
	}
}
@media screen and (max-width: 767px) {
	.container{
		width: 540px;
	}
}
@media screen and (max-width: 575px) {
	.container{
		width: 100%;
	}
	.delBtn{
		font-size: 12px;
	}
	#input{
		width: 60%;
		margin-bottom: 15px;
	}
	.li__value{
		font-size: 12px;
	}
}